<footer class="flex w-full justify-center bg-primary fixed bottom-0">
    <p>Pin™</p>
</footer>
<div id="alerts" class="flex flex-col items-center fixed top-0 mt-[1%] left-1/2 translate-x-[-50%]"></div>