<header class="h-fit">
    <div class="flex justify-between bg-primary text-white items-center md:px-16 lg:px-32">
        <div class="flex justify-between p-2">
            <a href="/"><img src="../images/UnicentroLogo.png" class="hidden md:flex" alt="Logo da UNICENTRO"></a>
            <a href="/"><img src="../images/PinTMLogo.png" alt="Logo do PINTM"></a>
        </div>
        <div class="flex justify-between p-2 text-xl">
            <a href="/reposition/scheduleForm" id="headerConsulta" class="hidden mx-6 md:mx-4 lg:mx-12 hover:scale-110">Consulta</a>
            <a href="/user/signin" id="headerLogin" class="cursor-pointer hover:scale-110">
                Login
                <div id="dropdown" class="hidden absolute mt-8 right-0 mr-1 text-center bg-secondary text-black">
                    <a href="/admin/index"><div id="admin" class="hidden p-1 border-b border-black hover:bg-hoverSecondary">Administrador</div></a>
                    <a href="/reposition/account"><div class="p-1 border-b border-black hover:bg-hoverSecondary">Minhas Reposições</div></a>
                    <a href="/user/accountInfo"><div class="p-1 border-b border-black hover:bg-hoverSecondary">Minha Conta</div></a>
                    <a href="#" onclick="logOut()"><div class="p-1 hover:bg-hoverSecondary">Sair</div></a>
                </div>
            </a>
        </div>
    </div>
</header>