<header>
    <div class="logos">
        <a href="/"><img src="./images/UnicentroLogo.png" alt="Logo UNICENTRO"></a>
        <div class="sepBar"></div>
        <a href="/"><img src="./images/PinTMLogo.png" alt="Logo Pin"></a>
    </div>
    <div class="nav">
        <ul>
            <li class="navButton"><a href="/scheduleForm">Consulta</a></li>
            <div class="sepBar"></div>
            <li class="navButton"><a id="headerLogin" href="/login">Login</a></li>
        </ul>
    </div>
</header>