<header>
    <div class="logos">
        <a href="/"><img src="../images/UnicentroLogo.png" alt="Logo UNICENTRO"></a>
        <div class="sepBar"></div>
        <a href="/"><img src="../images/PinTMLogo.png" alt="Logo Pin"></a>
    </div>
    <div class="nav">
        <ul>
            <li class="navButton" style="display: none;"><div class="navButtonContainer"><a href="/reposition/scheduleForm">Consulta</a></div></li>
            <div class="sepBar" style="display: none;"></div>
            <li class="navButton"><div class="navButtonContainer"><a id="headerLogin" href="/user/login">Login</a></div></li>
        </ul>
    </div>
</header> 