<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="setCourseListener(); verifyUser();">
    {{> headerController }}
    <main class="mainConsulta">
        <div class="background-consulta">
            <h1 id="consultaTitle">HORÁRIOS</h1>

            <form class="consultaForm" action="/reposition/selectSchedule" method="POST">
                <div id="cursoField">
                    <select name="course" id="nomeCurso" aria-placeholder="Curso:">
                        <option value="" disabled selected>Curso:</option>
                        {{#cursos}}
                            <option value="{{key}}">{{nome}}</option>
                        {{/cursos}}
                    </select>
                </div>
                
                <div id="materiaField">
                    <select name="subject" id="nomeMateria">
                        <option value="" disabled selected>Matéria:</option>
                    </select>
                </div>

                <input style = "display : none;" type="submit" value = "enviar" id = "submit-button">
            </form>

            <button onclick="sendForm()"  id = "send-button" class = "btnIndex"> <p>Buscar</p> </button>

        </div>
    </main>
    {{> footer }}
    <script src="../js/index.js"></script>
    <script>
        function sendForm(){
            var cursoIpt = document.getElementById('nomeCurso');
            var materiaIpt = document.getElementById('nomeMateria');

            if(cursoIpt.value != '' && materiaIpt.value != ''){
                document.querySelector('#submit-button').click();
            }else{
                alert("Preencha os dados requeridos.");
            }
        }

        function setCourseListener(){
            var materiasDropDown = document.querySelector("#nomeMateria");
            var cursosDropDown = document.querySelector("#nomeCurso");
            cursosDropDown.addEventListener('change', () => {
                fetch('getSubjects/'+cursosDropDown.value, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    materiasDropDown.innerHTML = "<option value='' disabled selected>Matéria:</option>";
                    let entries = Object.entries(data);
                    entries.sort((a, b) => a[1].name.localeCompare(b[1].name));
                    for(var entry of entries){
                        materiasDropDown.innerHTML += `<option value="${entry[0]}">${entry[1].name}</option>`;
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        }
    </script>
</body>
</html>