<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="h-screen" onload="verifyUser()">
    {{> header }}
    <main class="h-4/5 flex flex-col justify-center items-center">
      <div class="absolute z-[-1] h-3/4 top-0 left-0 w-full bg-primary"></div>
      <div class="relative flex justify-center">
        <div id="slide1" class="bg-secondary md:w-4/5 lg:w-4/6 rounded-3xl h-fit flex">
          <div class="flex flex-col justify-evenly w-1/2 items-center ml-8">
            <h2 class="text-4xl font-black">Nunca mais perca tempo organizando reuniões!</h2>
            <p>Com o Pin™, você conseguirá encontrar horários para marcar qualquer evento para alunos do Campus CEDETEG, de acordo com os horários das turmas em que eles estão matriculados!</p>
            <button onclick="next()" class="bg-yellow-300 w-1/3 rounded-lg p-2">Confira</button>
          </div>
          <div class="flex justify-center items-center">
            <img class="h-4/5" src="../images/imagem_inicio_1.png">
          </div>
        </div>
        <div id="slide2" class="bg-secondary md:w-4/5 lg:w-4/6 rounded-3xl h-fit hidden">
          <div class="flex justify-center items-center">
            <img class="h-4/6" src="../images/imagem_inicio_2.png">
          </div>
          <div class="flex flex-col justify-evenly w-2/3 items-center mr-8">
            <img src="../images/PinTMLogo.png" alt="Logo do PinTM">
            <p>Utilizando o Pin™, você pode organizar uma reunião com um grupo de alunos ou professores informando quais matérias cada um participa. Então, nós buscamos o melhor horário para que todos possam participar, simples, rápido e fácil!</p>
            <button onclick="window.location.href='/reposition/scheduleForm'" class="bg-yellow-300 w-1/3 rounded-lg p-2">Vamos lá</button>
          </div>
        </div>
      </div>
    </main>
    {{> footer }}
    <script src="../js/index.js"></script>
    <script>
      function next(){
        var slide1 = document.querySelector("#slide1");
        slide1.classList.remove("flex");
        slide1.classList.add("hidden");

        var slide2 = document.querySelector("#slide2");
        slide2.classList.remove("hidden");
        slide2.classList.add("flex");
      }
    </script>
</body>
</html>