<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header }}
    <main class="mainIndex">
        <div>
            <div>
                <div class="info">
                    <div class="containerIndex">
                        <img src="images/PinTMLogo.png" alt="Logo Pin">
                    </div>
                    <p class="infoIndex">
                        Com o Pin™, você conseguirá encontrar horários para marcar qualquer evento para alunos do Campus CEDETEG, de acordo com os horários das turmas em que eles estão matriculados!
                    </p>
                    <button class="btnIndex">
                        <p>CONFIRA</p>
                    </button>
                </div>
                <img class="imgIndex" src="images/UnicentroLogo.png" alt="">
            </div>
            <div class="sepBarH"></div>
            <div>
                <img class="imgIndex" src="images/UnicentroLogo.png" alt="">
                <div class="info">
                    <div class="containerIndex">
                        Nunca mais perca tempo organizando reuniões!
                    </div>
                    <p class="infoIndex">
                        Utilizando o Pin™, você pode organizar uma reunião com um grupo de alunos ou professores informando quais matérias cada um participa. Então, nós buscamos o melhor horário para que todos possam participar, simples, rápido e fácil!
                    </p>
                    <button class="btnIndex">
                        <p>VAMOS LÁ</p>
                    </button>
                </div>
            </div>
        </div>
    </main>
    {{> footer }}
</body>
</html>