<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body>
    {{> headerController }}
    <main class="mainLogin">
        <div id = "background-login">
            <h1 id = "login-txt">Login</h1>
            <form id = "Login-Form">
                <div class="login-form">
                    <input type="email" name = "email" id = "email" placeholder="e-mail">
                </div>
                <div class="login-form">
                    <input type="password" name = "password" id = "password" placeholder="senha">
                </div>
                <input style = "display : none;" type="submit" value = "enviar" id = "submit-button">
            </form>

            <button onclick="document.querySelector('#submit-button').click()" id = "send-button" class = "btnIndex"> <p>Enviar</p> </button>
            <div class ="secaoForgotPassword">
              <a href = "#" onclick="resetDeSenha()" id = "forgotPassword">Esqueci a senha</a>
              <br>
            </div>
            
            <a href="./signup" id = "signup-redirect">Não possui um cadastro? Clique aqui para criar sua conta!</a>
        </div>
    </main>
    {{> footer }}
</body>
<script type="module">
  import { signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-auth.js";
  import { auth } from '../js/firebase.js';

  const signIn = async (email, password) => {
    try {
      const userCredential = await signInWithEmailAndPassword(auth, email, password);
      window.location.href = '/user/account';
    } catch (error) {
      var message = error.message;
      if(message == 'Firebase: Error (auth/invalid-email).'){
        alert("Email inválido.");
      }else if(message == 'Firebase: Error (auth/user-not-found).'){
        alert("Usuário inexistente");
      }else if(message == 'Firebase: Error (auth/missing-password).'){
        alert("Insira sua senha.");
      }else if(message == 'Firebase: Error (auth/wrong-password).'){
        alert("Senha incorreta");
      }
    }
  };

  document.querySelector('#Login-Form').addEventListener('submit', (e) => {
    e.preventDefault();
    var tgt = e.target;
    signIn(tgt.querySelector('#email').value, tgt.querySelector('#password').value)
  })
</script>
<script type = "module">
  import { resetarSenha } from '../js/firebase.js';

  const validateEmail = (email) => {
    return String(email).toLowerCase().match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
  };

  function resetDeSenha(){
    var email = document.getElementsByName("email")[0].value;
    if(validateEmail(email)){
      resetarSenha(email);
      console.log("mandou");
    } else {
      var warn = document.createElement('div');
      warn.setAttribute("class", "divWarn");
      warn.innerHTML = "<p class = 'warn' style = 'color:red;'>Insira um email válido</p>";
      if(document.getElementsByClassName("secaoForgotPassword")[0].querySelector('.divWarn')){
      } else{
        document.getElementsByClassName("secaoForgotPassword")[0].appendChild(warn);
      }
    }
  }
  window.resetDeSenha = resetDeSenha;
</script>
</html>