<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body>
    {{> headerController }}
    <main class="mainLogin">
        <div id = "background-login">
            <h1 id = "login-txt">Login</h1>
            <form id = "Login-Form">
                <div class="login-form">
                    <input type="email" name = "email" id = "email" placeholder="e-mail">
                </div>
                <div class="login-form">
                    <input type="password" name = "password" id = "password" placeholder="senha">
                </div>
                <input style = "display : none;" type="submit" value = "enviar" id = "submit-button">
            </form>

            <button onclick="document.querySelector('#submit-button').click()" id = "send-button" class = "btnIndex"> <p>Enviar</p> </button>
            <div class ="secaoForgotPassword">
              <a href = "#" onclick="sendResetPass()" id = "forgotPassword">Esqueci a senha</a>
              <br>
            </div>
            
            <a href="./signup" id = "signup-redirect">Não possui um cadastro? Clique aqui para criar sua conta!</a>
        </div>
    </main>
    {{> footer }}
    <script src="../js/index.js"></script>
    <script>
      document.querySelector('#Login-Form').addEventListener('submit', (e) => {
        e.preventDefault();
        var tgt = e.target;
        signIn(tgt.querySelector('#email').value, tgt.querySelector('#password').value)
      });

      function sendResetPass(){
        let email = document.querySelector("#email").value;
        if(email){
          fetch(`/user/resetPasswordMail/${email}`, {
            method: "GET",
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .catch((err) => {
            alert(err.message);
          });
        }else{
          alert("Preencha o email");
        }
      }
    </script>
</body>
</html>