<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Pin™</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://fonts.googleapis.com/css?family=K2D' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="logos">
            <a href="/"><img src="./images/UnicentroLogo.png" alt="Logo UNICENTRO"></a>
            <div class="sepBar"></div>
            <a href="/"><img src="./images/PinTMLogo.png" alt="Logo Pin"></a>
        </div>
        <div class="nav">
            <ul>
                <li class="navButton"><a href="">Horários</a></li>
                <div class="sepBar"></div>
                <li class="navButton"><a href="">Consulta</a></li>
                <div class="sepBar"></div>
                <li class="navButton"><a href="/login">Login</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div id = "background-login">
            <h1 id = "login-txt">LOGIN</h1>
            <form id = "Login form">
                <div class="login-form">
                    <input type="text" name = "email" id = "email" placeholder="e-mail">
                </div>
                <div class="login-form">
                    <input type="password" name = "password" id = "password" placeholder="senha">
                </div>
            </form>
            <button id = "send-button" class = "btnIndex"> <p>Enviar</p> </button>
            <!-- Esse redirect aí em baixo não existe. ainda. -->
            <a href="./register" id = "register-redirect">Não possui um cadastro? Clique aqui para criar sua conta!</a>
        </div>
    </main>
    <footer>
        <p>Pin™</p>
    </footer>
</body>
</html>