<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header }}
    <main>
        <div id = "background-login">
            <h1 id = "login-txt">LOGIN</h1>
            <form id = "Login form">
                <div class="login-form">
                    <input type="text" name = "email" id = "email" placeholder="e-mail">
                </div>
                <div class="login-form">
                    <input type="password" name = "password" id = "password" placeholder="senha">
                </div>
            </form>
            <button id = "send-button" class = "btnIndex"> <p>Enviar</p> </button>
            <!-- Esse redirect aí em baixo não existe. ainda. -->
            <a href="./register" id = "register-redirect">Não possui um cadastro? Clique aqui para criar sua conta!</a>
        </div>
    </main>
    {{> footer }}
</body>
</html>