<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header }}
    <main class="mainLogin">
        <div id = "background-login">
            <h1 id = "login-txt">Login</h1>
            <form id = "Login-Form">
                <div class="login-form">
                    <input type="email" name = "email" id = "email" placeholder="e-mail">
                </div>
                <div class="login-form">
                    <input type="password" name = "password" id = "password" placeholder="senha">
                </div>
            </form>
            <button id = "send-button" class = "btnIndex"> <p>Enviar</p> </button>
            <a href="./signup" id = "signup-redirect">Não possui um cadastro? Clique aqui para criar sua conta!</a>
        </div>
    </main>
    {{> footer }}
</body>
</html>