<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header }}
     <main class="mainMinhasRepos">
        <div class="minhasRepos-txt">
            <h1>Minhas Reposições</h1>
        </div>

        <div class="reposTable">
            <table>
                <tr>
                    <th>Matéria</th>
                    <th>Curso</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Local</th>
                    <th>Ações</th>
                </tr>
                <tr>
                    <td>Redes</td>
                    <td>Computação</td>
                    <td>20/25/26</td>
                    <td>4:20</td>
                    <td>lab2</td>
                    <td>
                        <div>
                            <a href="">s</a>
                            <a href="">p</a>
                            <a href="">x</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
    {{> footer }}
</body>
</html>