{{!-- Métodos pra controller --}}

<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload = "verifyAuthentication(); getUsername()">
    {{> headerController}}
    <main class="minha-conta">
        <div class="minha-conta-index">
            <h1>Minha Conta</h1>
            <div class="minha-conta-content">
                <div class="editar-conta">
                    <h2 class="nome-de-usuario" id="nome-de-usuario"></h2>
                    <button onclick="showEditAccountElement()" class="editar-button"><p>Editar</p></button>
                </div>
            </div>
        </div>

        <div class="minha-conta-editar" style="display: none;">
            <h2>Editar Dados da Conta</h2>
            <form id="editar-form">
                <div class="name-input">
                    <input type="text" placeholder="Nome de usuário:">
                </div>
                <div class="daltonismo-checkbox">
                    <label for="daltonismo">Daltonismo</label>
                    <input type="checkbox" name="daltonismo" id="daltonismo">
                </div>
                <input style="display: none;" type="submit" value="enviar" id="submit-button">
            </form>

            <div class="editar-buttons">
                <button id="cancelar-button" onclick="hideEditAccountElement()"><p>Cancelar</p></button>
                <button id="salvar-button"><p>Salvar</p></button>
            </div>
        </div>
    </main>

    {{> footer}}
</body>
<script src="../js/index.js"></script>
<script type = "module">
    import { atualizarNomeUsuario, auth} from '../js/firebase.js';

    auth.onAuthStateChanged(async (usuario) => {
        if (usuario) {
            var nome = usuario.displayName;
            var divNome = document.getElementsByClassName("accNome")[0];
            divNome.getElementsByClassName("accInfo")[0].innerHTML = "Nome: " + nome;
            var email = usuario.email;
            var divEmail = document.getElementsByClassName("accEmail")[0];
            divEmail.getElementsByClassName("accInfo")[0].innerHTML = "Email: " + email;
        }
    });

    function edit(){
        document.getElementsByClassName("accTitleAndEdit")[0].remove(document.getElementsByClassName("editBtn")[0]);
        var divNome = document.getElementsByClassName("accNome")[0];
        divNome.innerHTML = "<p class='accInfo', style='font-size:20px; width:100%;'>Nome: </p><input type='text' style = 'width:100%;' class = 'tfName'>";
        divNome.setAttribute("style", "margin-top:30%; width:100%;");
        var divEmail = document.getElementsByClassName("accEmail")[0]; 
        divEmail.innerHTML = "";
        var btnSubmit = document.createElement('button');
        btnSubmit.innerHTML = "<p>Enviar</p>";
        btnSubmit.setAttribute("class", "btnIndex");
        btnSubmit.setAttribute("onclick", "atualizar()");
        document.getElementsByClassName("telaAcc")[0].appendChild(btnSubmit);
    }

    async function atualizar(){
        var tfName = document.getElementsByClassName("tfName")[0];
        var newName = tfName.value;
        let retorno;

        if (newName != ""){
            retorno = await atualizarNomeUsuario(newName); 
        } else {
            retorno = false;
        }
        
        if(retorno){
            var warn1 = document.createElement('p');
            window.location.href = window.location.href;
        } else {
            var warn = document.createElement('p');
            warn.innerHTML = "Erro na atualização de informações";
            warn.setAttribute("style", "color:red;");
            document.getElementsByClassName("telaAcc")[0].appendChild(warn);
        }
    }

    function verifyAuthentication(){
        var user = verifyUser();
        if(user === undefined){
            window.location.href = "/user/login"
        }
    }

    window.verifyAuthentication = verifyAuthentication;
    
    window.verifyUser = verifyUser;
    window.edit = edit;
    window.atualizar = atualizar;
</script>
<script>
    function getUsername() {
        var username = sessionStorage.getItem("username");
        var elemento = document.getElementById("nome-de-usuario");
        elemento.textContent = username;
    }

    function showEditAccountElement() {
        document.getElementsByClassName("minha-conta-index")[0].style.display = 'none';
        document.getElementsByClassName("minha-conta-editar")[0].style.display = 'flex';
    }

    function hideEditAccountElement() {
        document.getElementsByClassName("minha-conta-editar")[0].style.display = 'none';
        document.getElementsByClassName("minha-conta-index")[0].style.display = 'flex';
    }
</script>
</html>
