{{!-- Métodos pra controller --}}

<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="verificaUsuario(); loadRepositions()">
    {{> headerController }}
     <main class="mainMinhasRepos" id="main">
        <div class="minhasRepos-txt">
            <h1>Minhas Reposições</h1>
        </div>

        <div class="emptyContentRepos" id="emptyRepos">
            <h2>Não há reposições marcadas! Você pode marcar uma reposição clicando aqui:</h2>
            <button id = "send-button" class = "btnIndex" onclick="window.location.href = '../reposition/scheduleForm'"><p>Marcar Reposição</p></button>
        </div>
    </main>
    {{> footer }}
    <script>
        function copiarAreaTransferencia(materia, curso, data, horario, local){
            texto = "Aviso: Reposição de " + materia + " do curso de " + curso + ", dia " + data + " às " + horario + " no local " + local + ".";
            navigator.clipboard.writeText(texto);
            alert("Texto copiado para a área de transferência.");
        }

        function printPDF(uid, rid){
            var form = '<form style="display: none" action="' + '/reposition/pdf' + '" method="post">' +
                        '<input type="text" name="userId" value="' + uid + '" />' +
                        '<input type="text" name="repositionId" value="' + rid + '" />' +
                        '</form>';
            document.getElementsByTagName('body')[0].innerHTML+=form;
            document.getElementsByTagName('form')[0].submit();
        }

        function deleteReposition(uid, rid){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '../reposition/deleteReposition', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                userId: uid,
                repositionId: rid
            }));
            document.querySelector(`#repo${rid}`).remove();
            var table = document.getElementsByTagName('table')[0];
            if(table.children.length == 1 || (table.children.length == 2 && table.children[1].innerHTML == '')){
                table.remove();
                document.getElementById('main').innerHTML += `<div class="emptyContentRepos" id="emptyRepos"><h2>Não há reposições marcadas! Você pode marcar uma reposição clicando aqui:</h2><button id = "send-button" class = "btnIndex" onclick="window.location.href = '../reposition/scheduleForm'"><p>Marcar Reposição</p></button></div>`;
            }
        }
    </script>
    <script type="module">
        import { verificaUsuario, loadRepositions } from "../js/firebase.js";

        window.verificaUsuario = verificaUsuario;
        window.loadRepositions = loadRepositions;
    </script>
</body>
</html>
