<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body>
    <header>
        <div class="logos">
            <a href="/"><img src="../images/UnicentroLogo.png" alt="Logo UNICENTRO"></a>
            <div class="sepBar"></div>
            <a href="/"><img src="../images/PinTMLogo.png" alt="Logo Pin"></a>
        </div>
    </header> 
    <main class="mainNotFound">
        <div class="notFoundContent">
            <h2>Erro 404 - Página não encontrada!</h2>
            <button id = "send-button" class = "btnIndex" onclick="window.location.href='/'">Voltar ao início</button>
        </div>
    </main>
    {{> footer }}
</body>
</html>