<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="verifyAuthentication()">
    {{> headerController }}
    <main class="mainNotFound">

        <div class="notFoundContent">
            <h2>Erro 404 - Página não encontrada!</h2>
            <button id = "send-button" class = "btnIndex">Voltar ao início</button>
        </div>

    </main>
    {{> footer }}
    <script src="../js/index.js"></script>
</body>
</html>