<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header }}
    <main class="mainMinhasRepos">
        <div class="minhasRepos-txt">
            <h1>Minhas Reposições</h1>
        </div>

        <div class="emptyContentRepos">
            <h2>Não há reposições marcadas! Você pode marcar uma reposição clicando aqui:</h2>
            <button id = "send-button" class = "btnIndex">Marcar Reposição</button>
        </div>

    </main>
    {{> footer }}
    <main class="mainNotFound">

        <div class="notFoundContent">
            <h2>Erro 404 - Página não encontrada!</h2>
            <button id = "send-button" class = "btnIndex">Voltar ao início</button>
        </div>

    </main>
    {{> footer }}
</body>
</html>