<!DOCTYPE html>
<html lang="en">
{{> headController }}

<body onload="verifyUser(); setCourseListener()">
  {{> headerController }}
  <main>
    <div class="reprovacaoAdmin">
      <h2>Taxas de Reprovação</h2>
      <div class="seletores-materia">
        <select name="curso" id="nomeCurso">
          <option value="" disabled selected>
            <p>Curso:</p>
          </option>
          {{#cursos}}
            <option value="{{key}}">{{nome}}</option>
          {{/cursos}}
        </select>

        <select name="materia" id="nomeMateria">
          <option value="" disabled selected>
            <p>Matéria:</p>
          </option>
        </select>

        <button onclick="search()">
          <p>Buscar</p>
        </button>
      </div>


      <div class="materias-content"></div>

      <div class="admin-buttons" style="display: none;">
        <button id="cancelar-reprovacao-button" onclick="cancel()">
          <p>Cancelar</p>
        </button>

        <button id="salvar-reprovacao-button" onclick="save()">
          <p>Salvar</p>
        </button>
      </div>

    </div>
  </main>
  {{> footer }}
  <script src="../js/index.js"></script>
  <script>
    function setCourseListener() {
      var cursosDropDown = document.querySelector("#nomeCurso");
      var materiasDropDown = document.querySelector("#nomeMateria");
      cursosDropDown.addEventListener('change', () => {
        fetch('/admin/getSubjects/' + cursosDropDown.value, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(data => {
          materiasDropDown.innerHTML += `<option value="">  </option>`;
          let entries = Object.entries(data);
          entries.sort((a, b) => a[1].name.localeCompare(b[1].name));
          for(var entry of entries){
            materiasDropDown.innerHTML += `<option value="${entry[0]}">${entry[1].name}</option>`;
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      });
    }

    function getContent(course, subject){
      var subjectContent = document.getElementsByClassName("materias-content")[0];
      subjectContent.innerHTML = ''

      fetch(`/admin/getSubjects/${course}/${subject}`, {
        method: "GET",
        headers: {'Content-Type': 'application/json'}
      })
      .then(response => response.json())
      .then((data) => {
        let entries = Object.entries(data);
        entries.sort((a, b) => a[1].name.localeCompare(b[1].name));
        for(var entry of entries){
          //materiasDropDown.innerHTML += `<option value="${entry[0]}">${entry[1].name}</option>`;
          subjectContent.innerHTML += `
          <div class="materia">
            <div class="nome">
              <p>${entry[1].name}</p>
            </div>
            <div class="valor">
              <input type='number' id=${entry[0]} step='1.0' value=${entry[1].failureRate} min="0" max="100" maxlength="3" />
              <p>%</p>
            </div>
          </div>`
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    function search() {
      var course = document.querySelector('#nomeCurso').value;
      var subject = document.querySelector("#nomeMateria").value;
      if (course != ''){
        document.querySelector('#nomeCurso').value = '';
        document.querySelector("#nomeMateria").value = '';
        getContent(course, subject);
        document.getElementsByClassName("admin-buttons")[0].style.display = 'flex';
      }else{
        createAlert("Preencha ao menos um dos campo!", 'danger');
      }
    }

    function cancel(){
      document.getElementsByClassName("materias-content")[0].innerHTML = '';
      document.getElementsByClassName("admin-buttons")[0].style.display = 'none';
      window.location.href = "/admin/index"
    }

    function save(){
      const materias = document.querySelectorAll('.materia');
      const materiasData = [];
      materias.forEach(materia => {
        const input = materia.querySelector('input');
        if (input) {
          const id = input.id;
          const value = Number(input.value);
          materiasData.push({"key": id, "failureRate": value})
        }
      });
      
      fetch('/admin/saveFailureRate/', {
        method: "PUT", 
        headers: {'Content-Type': 'application/json'},
        credentials: 'include',
        body: JSON.stringify({
          // #ToDo Pegar nome do curso com variável
          "course": "cienciaDaComputacao", 
          "subjects": materiasData})
      })
      .then( (response) => {
        if(response.redirected){
          window.location.href = response.url;
        } else {
          response.json();
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
  </script>
</body>
</html>
