<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="formatBody()">
    {{> headerController }}
    <div class="resetPassContainer">
        <div class="resetPassForm">
            <h2>Redefina sua senha</h2>
            <p id="email" style="font-weight: bold;">email@email.email</p>
            <input type="password" name="newPass" id="newPass">
            <button id="resetPassBtn"><p>REDEFINIR</p></button>
        </div>
    </div>
    {{> footer }}
    <script>
        var url = new URL(window.location.href);
        function formatBody(){
            document.getElementById('email').innerText = url.searchParams.get('email');
        }

        document.getElementById('resetPassBtn').addEventListener('click', () => {
            resetPassword(url.searchParams.get('oobCode'), document.getElementById('newPass').value);
        });
    </script>
</body>
</html>