<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body class="h-screen" onload="formatBody()">
    {{> header }}
    <main class="h-4/5 flex flex-col justify-center items-center">
        <div class="flex flex-col items-center bg-secondary py-4 px-8 rounded-xl">
            <h2 class="mb-2 text-3xl lg:text-5xl font-bold">Redefina sua senha</h2>
            <h3 class="mb-4 text-lg lg:text-2xl font-semibold" id="email">admin@admin.admin</h3>
            <input class="mb-8 w-full p-2 lg:p-4 lg:text-lg rounded-lg outline-none" type="password" placeholder="Nova senha..." id="newPass">
            <button onclick="sendResetPass()" class="bg-yellow-300 rounded-lg py-2 px-4 lg:text-lg">Redefinir</button>
        </div>
    </main>
    {{> footer }}
    <script src="../js/index.js"></script>
    <script>
        var url = new URL(window.location.href);
        function formatBody(){
            document.getElementById('email').innerText = url.searchParams.get('email');
        }

        function sendResetPass(){
            resetPassword(document.getElementById("newPass").value, url.searchParams.get('email'), url.searchParams.get('oobCode'));
        }
    </script>
</body>
</html>