<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="bodyLoad()">
    {{> headerController }}
    <main class="mainSelectHorario">
        <div class="h2SelectHorario">
            <h2>Melhores Horários</h2>
        </div>
        <table>
            <tr>
                <th></th>
                <th>Seg</th>
                <th>Ter</th>
                <th>Qua</th>
                <th>Qui</th>
                <th>Sex</th>
                <th>Sab</th>
            </tr>
            <tr class="blankRow">
                <td colspan="3"></td>
            </tr>
            {{#horarios}} {{!-- Tabela de Horários --}}
                {{#each this}} {{!-- Período --}}
                    <tr>
                        <td>{{horario}}</td> {{!-- Horário do Período (07:30) --}}
                        {{#qualities}} {{!-- Array de qualidades (gerado pelo algoritmo) --}}
                            <td selected="0" quality="{{quality}}"></td> {{!-- Qualidade do horário --}}
                        {{/qualities}}
                    </tr>
                {{/each}}
            {{/horarios}}
        </table>
        <div class="formSelectHorario">
            <input id="week" type="week">
            <select name="salaInput" id="salaInput">
                <option value="" disabled selected>Sala:</option>
                {{#salas}}
                    <option value="{{sala}}">{{sala}}</option>
                {{/salas}}
            </select>
            <div class="compartilharBtn">
                <img src="../images/compartilharPDF.png" alt="Compartilhar via PDF">
            </div>
            <div class="compartilharBtn">
                <img src="../images/compartilharEmail.png" alt="Compartilhar via E-mail">
            </div>
        </div>
    </main>
    {{> footer }}
    <script>
        function setClicks(){
            var tds = document.querySelectorAll('td[selected="0"]');
            for(var i = 0; i < tds.length; i++){
                tds[i].setAttribute("id", 'td'+i)
                tds[i].setAttribute("onclick", `changeSelected("#td${i}")`)
            }
        }

        function changeSelected(id){
            var td = document.querySelector(id);
            td.setAttribute("selected", (td.getAttribute("selected") == "0") ? "1" : "0");
        }

        function setDate(){
            var date = new Date();
            date = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate()));
            var firstDayOfYear = new Date(Date.UTC(date.getFullYear(), 0, 4));
            var days = Math.floor((date - firstDayOfYear) / (1000 * 60 * 60 * 24));
            var weekNumber = Math.ceil((days + firstDayOfYear.getUTCDay() + 1) / 7);
            if(weekNumber < 10){
                weekNumber = '0' + weekNumber;
            }
            document.getElementById("week").setAttribute("value", `${date.getFullYear()}-W${weekNumber}`);
            document.getElementById("week").setAttribute("min", `${date.getFullYear()}-W${weekNumber}`);
            document.getElementById("week").setAttribute("max", `${date.getFullYear() + 1}-W${weekNumber}`);
        }

        function bodyLoad(){
            setClicks();
            setDate();
        }
    </script>
</body>
</html>