<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="setClicks()">
    {{> headerController }}
    <main class="mainSelectHorario">
        <div class="h2SelectHorario">
            <h2>Melhores Horários</h2>
        </div>
        <table>
            <tr>
                <th></th>
                <th>Seg</th>
                <th>Ter</th>
                <th>Qua</th>
                <th>Qui</th>
                <th>Sex</th>
                <th>Sab</th>
            </tr>
            <tr class="blankRow">
                <td colspan="3"></td>
            </tr>
            {{#horarios}} {{!-- Tabela de Horários --}}
                {{#each this}} {{!-- Período --}}
                    <tr>
                        <td>{{horario}}</td> {{!-- Horário do Período (07:30) --}}
                        {{#qualities}} {{!-- Array de qualidades (gerado pelo algoritmo) --}}
                            <td selected="0" quality={{quality}}></td> {{!-- Qualidade do horário --}}
                        {{/qualities}}
                    </tr>
                {{/each}}
            {{/horarios}}
        </table>
        <div class="formSelectHorario">
            <select name="salaInput" id="salaInput">
                {{#salas}}
                    <option value={{sala}}>{{sala}}</option>
                {{/salas}}
            </select>
            <div class="compartilharBtn">
                <img src="./images/compartilharPDF.png" alt="Compartilhar via PDF">
            </div>
            <div class="compartilharBtn">
                <img src="./images/compartilharEmail.png" alt="Compartilhar via E-mail">
            </div>
        </div>
    </main>
    {{> footer }}
    <script>
        function setClicks(){
            var tds = document.querySelectorAll('td[selected="0"]');
            for(var i = 0; i < tds.length; i++){
                tds[i].setAttribute("id", 'td'+i)
                tds[i].setAttribute("onclick", `changeSelected("#td${i}")`)
            }
        }

        function changeSelected(id){
            var td = document.querySelector(id);
            td.setAttribute("selected", (td.getAttribute("selected") == "0") ? "1" : "0");
        }
    </script>
</body>
</html>