<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body>
    {{> headerController }}
    <main class="mainLogin">
        <div id = "background-login">
            <h1 id = "login-txt">Sign Up</h1>
            <form id = "Login-Form">
                <div class = "login-form">
                    <input type="text" name = "name" id = "name" placeholder="nome">
                </div>
                <div class="login-form">
                    <input type="email" name = "email" id = "email" placeholder="e-mail">
                </div>
                <div class="login-form">
                    <input type="password" name = "password" id = "password" placeholder="senha">
                </div>
                <div class="login-form" id="color-blind-checkbox" onclick="select()">
                    <label for="daltonismo">Modo Daltonismo</label>
                    <input type="checkbox" name="color-blind" id="color-blind">
                </div>
                <input style = "display: none;" type="submit" value="enviar" id = "submit-button">
            </form>
            <button onclick="document.querySelector('#submit-button').click()" id = "send-button" class = "btnIndex"> <p>Criar cadastro</p> </button>
            <a href="./login" id = "login-redirect">Já possui uma conta? Acesse-a clicando aqui!</a>
        </div>
    </main>
    {{> footer }}
    <script src="../js/index.js"></script>
    <script>
        document.querySelector('#Login-Form').addEventListener('submit', (e) => {
        e.preventDefault();
        var tgt = e.target;
        signUp(tgt.querySelector('#email').value, tgt.querySelector('#password').value, tgt.querySelector('#name').value, tgt.querySelector('#color-blind').checked);
        });
        function select(){
            document.querySelector('#color-blind').checked = !(document.querySelector('#color-blind').checked);
        }
    </script>
</body>
</html>