/* Variables */
:root {
    --bgColor: #F3FFF5;
    --primaryColor: #D2F3C6;
    --secondaryColor: #3DAD16;
    --btnColor: #DBCF2F;
    --quality0: #AD1616;
    --quality1: #7B7117;
    --quality2: #6B8F17;
    --quality3: #5EA717;
    --quality4: #47D018;
    --whiteText: #c4c4c4;
    --selectedColor: #faed36;
}

/* Base CSS */
*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'K2D';
}
body{
    background-color: var(--bgColor);
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header */
header{
    flex-shrink: 0;
    padding: 5px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.3);
}

.logos{
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav{
    width: 25%;
}
.nav ul{
    display: flex;
    flex-direction: row;
    list-style:none;
    justify-content: space-evenly;
}
#headerLogin{
    cursor: pointer;
}
.nav a{
    text-decoration: none;
    text-overflow: ellipsis;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
    line-height: 40px;
}


.sepBar{
    width: 2px;
    background-color: white;
    border: 50%;
}

.accountActions{
    display: flex;
    position: absolute;
    flex-direction: column;
}

.accountActionsBtn{
    background-color: var(--bgColor);
    min-width: 160px;
    padding: 10px 0px;

    font-family: 'K2D';
    font-size: 10;
    cursor: pointer;
    align-self: auto;
}

.accountActionsBtn:hover{
    font-weight: normal;
}

.navButtonContainer:hover{
    transform: scale(1.2);
    font-weight: bold;
}

/* Footer */
footer{
    flex-shrink: 0;
    padding: 2px;
    background-color: var(--secondaryColor);
    text-align: center;
    color: white;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    cursor: default;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

/* Index */
.mainIndex > div{
    width: 80%;
    background-color: var(--primaryColor);
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainIndex > div > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 5px 5px 5px;
}

.info{
    width: 50%;
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerIndex{
    background-color: #D9D9D9;
    border-bottom: solid var(--secondaryColor) 15px;
    border-radius: 5px;
    width: 80%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.imgIndex{
    width: 35%;
}

.infoIndex{
    width: 60%;
    font-size: 26px;
    margin-bottom: 15px;
    color: #524949;
}

.btnIndex{
    width: 25%;
    background-color: var(--btnColor);
    outline: 0;
    border: 0;
    padding: 10px;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btnIndex:hover p{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bold;
}

.sepBarH{
    background-color: var(--secondaryColor);
    width: 80%;
    height: 5px;
    border-radius: 5px;
}

/* Login and Sign Up*/

.mainLogin > div{
    width: 30%;
    background-color: var(--primaryColor);
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 6%;
}

#Login-Form{
    padding:0;
}

#login-txt{
    margin-top: 10%;
    font: bold;
    margin-bottom: 10%;
}

.login-form{
    transform: scale(2);
    width:auto;
    height:auto; 
    margin-top: 15%;
    margin-top: 20%;
}

.login-form input{
    outline: 0;
    padding: 0px 3px 2px;
}

#signup-redirect,
#login-redirect,
#forgotPassword{
    font-family: comic sans ms;
}

#signup-redirect{
    margin-top: 2%;
    margin-bottom: 2%;
}

#send-button{
    margin-top: 10%;
    width: 40%;
    margin-bottom: 10%;
}

#send-button:hover p{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bold;
}

.secaoForgotPassword{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* PDF */
.pdfHeader{
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pdfHeader a{
    width: 15%;
}

.pdfHeader img{
    width: 100%;
    height: 100%;
}
.pdfHeader a:nth-of-type(2n){
    width: 20%;
}

.pdfHeader > div{
    text-align: center;
    color: #F2E1E1;
}

.pdfHeader h2{
    font-size: 50px;
    font-weight: 600;
}

.pdfHeader h3{
    font-size: 35px;
    color: #F3DCDC;
    font-weight: 600;
}

.mainPdf > div{
    width: 80%;
    height: 100%;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pdfSide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pdfSide:nth-of-type(1) div{
    margin-bottom: 50px;
}

.pdfSide p{
    font-size: 40px;
    font-weight: 600;
    color: #252525;
}

.time{
    width: 55%;
    height: 30%;
    border-radius: 15px;
    background-color: #DBCF2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time p{
    font-size: 50px;
}

/* SelecionarHorario */
.mainSelectHorario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainSelectHorario table{
    width: 60%;
    text-align: center;
    border-spacing: 15px 5px;
    border-collapse: separate;
}

.mainSelectHorario td, .mainSelectHorario th{
    width: calc(100% / 7);
    background-color: var(--primaryColor);
}

.mainSelectHorario td:not(:first-of-type), .mainSelectHorario th:not(:first-of-type){
    cursor: pointer;
}

.mainSelectHorario td[quality="0"]{
    background-color: var(--quality0);
}
.mainSelectHorario td[quality="1"]{
    background-color: var(--quality1);
}
.mainSelectHorario td[quality="2"]{
    background-color: var(--quality2);
}
.mainSelectHorario td[quality="3"]{
    background-color: var(--quality3);
}
.mainSelectHorario td[quality="4"]{
    background-color: var(--quality4);
}
.mainSelectHorario td[quality="-1"]{
    background-color: var(--primaryColor);
}
.mainSelectHorario td[selected="1"]{
    background-color: var(--selectedColor) !important;
}

.h2SelectHorario{
    background-color: var(--primaryColor);
    padding: 13px 30px;
    border-radius: 16px;
    color: #252525;
    font-size: 30px;
    font-weight: 600;
}

.formSelectHorario{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.formSelectHorario input{
    margin:10px 10px 10px 10px;
    background-color: var(--primaryColor);
    border-radius: 8px;
    padding: 1.5%;
    outline: 0;
    border: 0;
}

.formSelectHorario select{
    outline: 0;
    padding: 5px;
    background-color: var(--primaryColor);
    width: 30%;
    border-radius: 16px;
    cursor: pointer;
}

.compartilharBtn{
    background-color: var(--primaryColor);
    border-radius: 50%;
    padding: 10px;
}

.compartilharBtn:hover img{
    cursor: pointer;
    transform: scale(1.08);
}

.blankRow{
    height: 10px !important; /* overwrites any other rules */
}

.blankRow td{
    background-color: transparent;
}

/* Formulario de consulta*/

.mainConsulta > div{
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-consulta {
    display: flex;
    width: 30%;
    height: 80%;
    margin-top: 70px;
    border-radius: 5%;
}

#consultaTitle{
    display: flex;
    align-items: flex-start;
    margin-top: 20%;
    color: var(--txtColor);
}

.consultaForm{
    display: flex;
    flex-direction: column;
    transform: scale(2);
    margin-top: 20%;
    position:relative;
    top: 1%;
    width: 40%;
}

option[value=""][disabled] {
    display: none;
}

.consultaForm input, select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: none;
    padding: 4px;
    margin: 6px;
    box-sizing: border-box;
}

.consultaForm input, select{
    color: #252525;
    background-color: #F2FDF4;
    border-radius: 0.25rem;
    font: 1.25rem;
    width: 100%;
    height: 30px;
}

#cursoField {
    margin-top: 15px;
}

.mainConsulta #send-button{
    display: flex;
    top:20%;
}

input::placeholder  {
  opacity: 1;
  color: #524949;
}

/* minhas reposições */

.mainMinhasRepos, .mainNotFound{
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minhasRepos-txt{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

.emptyContentRepos, .notFoundContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    background-color: var(--primaryColor);
}

.emptyContentRepos h2{
    font-size: 40px;
    margin-top: 5%;
}

.emptyContentRepos #send-button {
    margin-top: 5%;
    width: 20%;
}

.repositionActions{
    display: flex;
    justify-content: space-evenly;
}

.repositionActions img{
    transform: scale(0.75);
    cursor: pointer;
}


/* not found */

.notFoundContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.notFoundContent h2{
    font-size: 50px;
    font-weight: bolder;
}

.notFoundContent #send-button {
    width: 20%;
}

/* minhas reposições */

.mainMinhasRepos{
    width: 100%;
}

.reposTable {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 2%;
}

.reposTable table{
    width: 90%;
    align-items: center;
    justify-content: center ;
}

.reposTable th, td {
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    background-color: var(--primaryColor);
    border-bottom: 1px green;
}

.reposTable td, th {
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    text-align: center;
    border-bottom: 5px;
}

.reposTable th{
    font-size: 60;
    font-weight: bolder;
}

/*Minha Conta*/

.telaAcc{
    display: flex;
    flex-direction: column;
    padding: 5%;
    /* min-width: 50%; */
    width: 100%;
    align-self: center;
    align-items: center;
}

.accTitleAndEdit{
    margin:5%;
    display: flex;
    min-width: 50%;
    align-self: center;
}
.accInfoDiv{
    display: flex;
    flex-direction: column;
}

.accInfo{
    font-size: large;
}

.accNome{
    margin-bottom:10%;
}

.editBtn{
    cursor:pointer;
    width: 32px;
    height: 32px;
}

.linha1{
    height: 5%;
    width: 35%;
    background-color: #252525;
    margin-top: 2.5%;
}
.linha2{
    height: 5%;
    width: calc(25% - 32px);
    background-color: #252525;
    margin-top: 2.5%;
}

/* Reset Password */
.resetPassContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.resetPassForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba(61, 173, 22, .65);
    padding: 15px;
    border-radius: 15px;
}

.resetPassForm h2 p{
    color: #252525;
    font: 'K2D';
}

.resetPassForm input{
    width: 80%;
    padding: 5px;
    outline: 0;
    border: 0;
    margin: 15px;
    border-radius: 5px;
}

.resetPassForm button{
    width: 25%;
    border-radius: 15px;
    padding: 5px;
    outline: 0;
    border: 0;
    background-color: var(--btnColor);
    cursor: pointer;
    color: white;
}

.resetPassForm button:hover p{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bold;
}